@model List<Product>
@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="d-flex justify-content-between">
    <h1>Products</h1>
    <button class="btn btn-primary">+<a asp-controller="Dashboard" asp-action="AddProduct" class="text-light">Add Product</a></button>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Image</th>
            <th scope="col">Category</th>
            <th scope="col">Brand</th>
            <td scope="col">Edit</td>
            <td scope="col">Delete</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model){
        <tr>
            <th scope="row">@item.ProductId</th>
                <td scope="col">@item.ProductName</td>
                <td scope="col">@item.Price</td>
                <td scope="col">@item.Quantity</td>
                <td scope="col" class="p-3"><img src="~/images/@item.Image" height="100" width="100" /></td>
                <td scope="col">@item.Category.Name</td>
                <td scope="col">@item.Brand.BrandName</td>
                <td scope="col"><button class="btn btn-primary"><a class="text-light" asp-controller="dashboard" asp-action="EditProduct" asp-route-id="@item.ProductId">Edit</a></button></td>
                <td scope="col"><button class="btn btn-danger"><a class ="text-light" asp-controller="dashboard" asp-action="DeleteProduct" asp-route-id="@item.ProductId">Delete</a></button></td>
        </tr>
        }
    </tbody>
</table>

