@model List<Product>
@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="d-flex justify-content-between">
    <h1>Products</h1>
    <button class="btn btn-primary">+<a asp-controller="Dashboard" asp-action="AddProduct" class="text-light">Add Product</a></button>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Image</th>
            <th scope="col">Category</th>
            <th scope="col">Brand</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model){
        <tr>
            <th scope="row">@item.ProductId</th>
            <td>@item.ProductName</td>
            <td>@item.Price</td>
                <td>@item.Quantity</td>
                <td class="p-3"><img src="~/images/@item.Image" height="100" width="100"/></td>
                <td>@item.Category.Name</td>
                <td>@item.Brand.BrandName</td>
                <td><button class="btn btn-primary">Edit</button></td>
                <td><button class="btn btn-danger">Delete</button></td>
        </tr>
        }
    </tbody>
</table>

